<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather List</title>
</head>

<body>
<h1>Weather List</h1>
<table>
    <tr>
        <th>Location</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Weather Event</th>
    </tr>
    <tr th:each="weather : ${weathers}">
        <td th:text="${weather.location}"></td>
        <td th:text="${weather.temperature}"></td>
        <td th:text="${weather.windSpeed}"></td>
        <td th:text="${weather.weatherEvent}"></td>
    </tr>
</table>
</body>
</html>