<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current weather</title>
</head>

<body>
<h1>Current weather in <span th:text="${weather.location}"></span></h1>
<p>Location: <span th:text="${weather.location}"></span></p>
<p>Temperature: <span th:text="${weather.temperature}"></span> degrees</p>
<p>Wind Speed: <span th:text="${weather.windSpeed}"></span> meters per second</p>
<p>Weather Event: <span th:text="${weather.weatherEvent}"></span></p>
</body>
</html>